<div class="container">
  <h1>My Tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <input type="checkbox" id="task" name="task" <%= task.completed ? "checked" : "" %> disabled >
        <%= link_to task.title, task_path(task.id) %>
        <%= link_to "🗑", task_path(task.id), method: :delete, data: { confirm: "Sure?"} %>
      </li>
    <% end %>
  </ul>
  <div><p><i class="fas fa-trash"></i></p></div>

  <hr>
  <p>+ <%= link_to "Add new task", new_task_path %>
   
</div>
